.text1{
    justify-content:flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: .5vh ;
    font-family: var(--font-family-button);
}
.text1 p{
    color:var(--color-box);
    width: 90%;
    font-weight:800;
    font-size: 2vh;
    
}
.text1 input{
    width:100%;
    height:3vh;
    margin-top: -2vh;
    /*border-color: #549991;*/
    border: 3px solid var(--color-box);
    background-color: #F5F5F5;
    border-radius:50px 50px  ;
    padding:10px;
    color:var(--color-box);
    font-weight: 500;
    font-size: 26px;
    outline: #549991;
}
