.text2{
    justify-content:flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.text2 p{
    position: relative;
    left: 48px;
    font-family: var(--font-family-button);
    color: var(--color-box);
    width: 380px;
    font-weight:500;
    font-size: 25px;
    
}
.text2 input{
    width:300px;
    height:40px;
    /*border-color: #549991;*/
    border: 3px solid var(--color-box);
    background-color: #F5F5F5;
    border-radius:50px 50px  ;
    padding:10px;
    color:var(--color-box);
    font-weight: 500;
    font-size: 26px;
    outline: #549991;
    font-family: var(--font-family-button);
}
