body, html {
   
    overflow-y: hidden; /* Prevent horizontal overflow */
    overflow-x: hidden !important;
    overflow: hidden;
    
  }
.container-fluid {
    width: 100%; /* Ensure container does not exceed viewport width */
  }
  .panalysis{
    background-color: var(--color-background-table);
}
.patientanalysis table tr{
    border:#A6A9AB;
}

.patientanalysis table{
    margin:40px ;
}
.addbtn{
    position: relative;
    left: 1200px;
    margin-top: 20px;
}
.bar-input{
    position: relative;
    left: 62px;
    width: 200px;
    background-color:#f0eded;
}
.patientanalysis-table{
    background-color: white;
    width: 1100px;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    z-index: 3000;
    height: 600px;
    margin-top: 30px;
    border-radius: 50px 50px;
}
.patientanalysis-table .table-responsive thead th{
    background-color:white;
    border: #EAEAEA;
    outline: none;
    box-shadow: none;
    border-bottom: 0;
}
.table-responsive {
 max-height: 550px !important;
}
@media (max-width: 500px) { /* if it small devices overwrite the auto hidden i make*/
    body {
      overflow: auto;
    
    }
  }