

.reg2Cont {
    background-color: #258176;
    align-items: center; /* Align items vertically */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

#profilePreview {
    min-height: 50vh; /* Adjust the minimum height as needed */
    height: 89vh; /* Set height to auto */
    max-width: 100%; /* Set maximum width */
}

#inputs {
    min-height: 89vh;
}

#regForm2 {
    background-color: #F5F5F5;
    border-radius: 20px 20px 0 0;
    padding: 3vh 4vh;
    min-height: 50vh; /* Adjust the minimum height as needed */
    height: 92vh; /* Set height to auto */
    max-width: 80%; /* Set maximum width */
    margin: auto; /* Center horizontally */
    position: absolute; /* Position at the bottom */
    bottom: 0; /* Stick to the bottom */
    left: 0; /* Align left edge with container */
    right: 0; /* Align right edge with container */
}
#inputs{
    height: 600px;
    overflow-y: scroll;
    padding: 3vw;
}
img{
    width: 100%;
    max-height: 30vh;
    margin: 3vh 0;
}
#scndTitle{
    text-align: center;
    color: #258176;
    margin-bottom: 20px;
    font-size: 5vh;
    font-weight: 600;
}
#imgSpecs{
    text-align: left;
    color: #000000;
    font-size: 2vh;
    font-weight: 300;
}
.scroller {
    --scrollbar-color-thumb: hotpink;
    --scrollbar-color-track: blue;
    --scrollbar-width: thin;
    --scrollbar-width-legacy: 0.5rem;
}