<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='css/PProfileStyle.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<div class="sidB">
    <div class="profilePic"> <img src={{profile_pic}} width="300" height="300"> </div>
    <div class="patientInfo">
        <label class="name" name="name"> {{data.name}} </label>
        <ul>
            <li class="info">
                <span class="infoTitle"> email  </span> <br>
                <span name="email"> {{data.email}} </span>
            </li>
            </li>
            <li class="info">
                <span class="infoTitle"> Gender  </span> <br>
                <span name="gender"> {{data.gender}} </span>
            </li>
            <!---<li class="info">
                <span class="infoTitle"> Weight  </span> <br>
                <span > 75 Kg </span>
            </li> --->
            <!---<li class="info">
                <span class="infoTitle"> Admitted  </span> <br>
                <span > 5 days ago </span>
            </li>  -->
            <li class="info">
                <!---<span class="infoTitle"> facebook  </span> <br>
                <span > facebook.com </span> -->
                {% if face_url %}
                    <a href="{{ data.face_url }}" target="_blank" name="face_url"> Facebook</a>
                {% else %}
                    <p>No Facebook profile available</p>
                {% endif %}
            </li>
            <li class="info">
                <!---<span class="infoTitle"> facebook  </span> <br>
                <span > facebook.com </span> -->
                {% if insta_url %}
                    <a href="{{ data.insta_url }}" target="_blank" name="insta_url"> Instagram</a>
                {% else %}
                    <p>No Instagram profile available</p>
                {% endif %}
        </ul>
    </div>
    <button id="Edit"> Edit</button>
</div>
<div class="main">
    <div class="post"><h5>Post title</h5> Post content</div>
    <div class="post"></div>
    <div class="post"></div>
</div>
</body>
</html>