<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='css/RegisterStyle.css') }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Register</title>
</head>
<body>
    <div class="form">
        <form id="form" action='/edit'method="post" enctype="multipart/form-data" >

            <script>
                window.onload = function(){
                    var name = "{{ data.name }}";
                    var email = "{{ data.email }}";
                    var gender = "{{ data.gender }}";
                    var facebook = "{{ data.facebook }}";
                    var instagram = "{{ data.instagram }}";
                };
                </script>

            <label id="nameLabel" for = "nameIn" class="form-label">Name</label><br>
            <input type="text" name="name" id="nameIn" class="form-control"  placeholder= name><br>

            <label id="picLabel" for="picIn" class="form-label">Profile picture</label><br>
            <input type="file" name="profile_pic" id="picIn" class="form-control" autocomplete="off" required> <br>
            
            <!---<label id="picnote" for = "picIn" >Upload .png or .jpg</label><br>-->

            <label id="selectGen" class="form-label">Gender</label><br>
            <label for="male">Male</label>
            <input type="radio" id="male" name="gender" value="M" class="genSelect">
            <label for="female" class="form-label">Female</label>
            <input type="radio" id="female" name="gender" value="F" class="genSelect"><br>
            
            <label id="agelabel" for = "ageIn"  class="form-label">Age</label><br>
            <input type="text" name="age" id="ageIn" class="form-control" placeholder= age><br>


            <label id="faceLabel" for = "faceIn" >Facebook link</label><br>
            <input type="text" name="facebook" id="faceIn" class="form-control"  placeholder=facebook><br>


            <label id="instaLabel" for = "instaIn" >Instagram link</label><br>
            <input type="text" name="instagram" id="instaIn" class="form-control" placeholder=instagram><br>


            <label id="emailLabel" for = "emailIn" class="form-label"> Email</label><br>
            <input type="email" name="email" id="emailIn" class="form-control"  placeholder=email><br>

            <label id="passLabel" for="passIn" class="form-label">Password</label><br>
            <input type="password" name="password" id="passIn" class="form-control"><br>
            <button type="submit" id="submitBtn">Submit</button>

            
        </form>
    <a id="have-Acc" href="{{ url_for('login')}}" target="_blank"> Already have account? login</a>
    </div>
</body>
</html>