.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin:4px;
}
.btn button{
    background-color: #258176;
    border-radius: 50px 50px;
    width: 100%;
    min-width: 12vw;
    height: 100%;
    outline: none;
    border: none;
    color: #F5F5F5;
    font-family: var(--font-family-button);
    font-weight: 500;
    font-size: 3vh;
}