.btn{
    display: flex;
    padding: 2px;
    margin:4px;
}
.btn button{
    background-color:var(--color-main);
    border-radius: 50px 50px;
    width: 13vw;
    height: 5vh;
    outline: none;
    border: none;
    color: #F5F5F5;
    font-family: var(--font-family-button);
    font-weight: 500;
    font-size: 3vh;
    justify-content: center;
}
.btn button:hover{
    background-color:var(--color-mainLight);
}
.btn button:active{
    background-color:var(--color-mainLight);
}