
.table-responsive {
  max-height: 1100px;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer */
max-width: 100%;;
}
.container-fluid {
  max-width: 100%; /* Ensure container does not exceed viewport width */
}

.table-responsive::-webkit-scrollbar { /* Chrome, Safari, and Opera */
  display: none;
}

.rounded {
  border-radius: 50%;
}

.table-header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #F5F5F5;
  
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  font-size: 23px;
  font-family: var(--font-family-button);
  color: #258176;
  margin: 0;
  border-top: 0;
  border-bottom: 0;


}

/* Ensure no additional styling conflicts */
.table-responsive .thead-fixed th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #F5F5F5;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  font-size: 23px;
  font-family: var(--font-family-button);
  color: #258176;
  border-top: none;

}

.custom-table tbody {
  background-color: #F5F5F5 !important;
  font-family: var(--font-family-button);
  font-size: 19px;
}
.special-column{
  color:blue;
}

.custom-table {
  border-collapse: collapse;
}
.table_img{
  width:30px;
  height:30px;
  border-radius: 100%;
}
.table_btn_img{
  width:30px;
  height:30px;
  border-radius: 100%;
  outline: none;
  border: none;
}

.fasearch {
  position: sticky;
  top: 10px  ;

  cursor: pointer;
  z-index: 1000;
  color: gray;
}

.input {
  position: absolute;
  right: 300px;
  z-index: 900;
  top: 10px;

 
}
.tableComponent .input {
  margin-top: 24px;
  left: 1050px;
}
.input .bar-input {
  width: 190px; /* Specify your desired width */
  padding: 10px; /* Optional: add some padding */


  box-sizing: border-box; /* Ensure padding is included in the width */
}
.tableComponent .fasearch{
  left: 1520px;
  top: 25px;
}


.input form {
  width: 500px;
}

.tableComponent {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.role_action_component {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.editbtn {
  background-color: var(--color-main);
  border-radius: 50px 50px;
  width: 80px;
  height: 20px;
  outline: none;
  border: none;
  color: #F5F5F5;
  font-family: var(--font-family-button);
  font-weight: 500;
  font-size: medium;
  justify-content: center; /* Center horizontally */
  align-items: center;
}

.delete {
 width:20px ;
 height: 20px;
 border: none;
 border-radius: 30%;
 background-color: red;
 
}
.delete .fa-trash{
color: #F5F5F5;
font-size: 15px;
}



  

.delete:hover {
  background-color: pink;
}

.editbtn:hover {
  background-color: var(--color-mainLight);
}
.rep_icon{
  outline: none;
  border: none;
  background-color: white;
  color: #1A5952;
  font-size: x-large;
}
.rep_icon:hover{
  color: #258176;
}