
.table-responsive {
  max-height: 1100px;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer */
max-width: 100%;;
}
.container-fluid {
  max-width: 100%; /* Ensure container does not exceed viewport width */
}

.table-responsive::-webkit-scrollbar { /* Chrome, Safari, and Opera */
  display: none;
}

.rounded {
  border-radius: 50%;
}

.table-header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #F5F5F5;
  
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  font-size: 23px;
  font-family: var(--font-family-button);
  color: #258176;
  margin: 0;
  border-top: 0;
  border-bottom: 0;

}

/* Ensure no additional styling conflicts */
.table-responsive .thead-fixed th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #F5F5F5;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  font-size: 23px;
  font-family: var(--font-family-button);
  color: #258176;
  border-top: none;

}

.custom-table tbody {
  background-color: #F5F5F5 !important;
  font-family: var(--font-family-button);
  font-size: 19px;
}
.special-column{
  color:blue;
}

.custom-table {
  border-collapse: collapse;
}
img{
  width:30px;
  height:30px;
  border-radius: 100%;
}


.fasearch {
  position: sticky;
 
  cursor: pointer;
  z-index: 2000;
  color: gray;
}

.input {
  position: absolute;
  right: 300px;
  z-index: 1000;
  top: 10px;
 
}
.tableComponent .input {
  margin-top: 24px;
  left: 1050px;
}
.tableComponent .fasearch{
  left: 1520px;
  top: 25px;
}


.input form {
  width: 500px;
}

.tableComponent {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.role_action_component {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.editbtn {
  background-color: var(--color-main);
  border-radius: 50px 50px;
  width: 80px;
  height: 20px;
  outline: none;
  border: none;
  color: #F5F5F5;
  font-family: var(--font-family-button);
  font-weight: 500;
  font-size: medium;
}

.del {
  margin: 0;
  margin-left: 4px;
  background-color: var(--color-emergency); 
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  border: none;
  border-radius: 20%; /* Creates a circular shape */
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  transform: scaleX(1);
  width: 20px;
  height: 20px;
  justify-content: center; /* Center horizontally */
  align-items: center;
}

.del:hover {
  background-color: pink;
}

.editbtn:hover {
  background-color: var(--color-mainLight);
}
