
.List p{
    color:var(--color-box);
    width: 90%;
    font-weight:500;
    font-size: 2vh;
    margin:auto;

}
.List select{
    width: 100%;
    height:3vh;
    margin-top: -3vh;
    /*border-color: #549991;*/
    border: 3px solid var(--color-box);
    background-color: #F5F5F5;
    border-radius:50px 50px  ;
    color:var(--color-box);
    padding-left: 10px;
    font-weight: 500;
    font-size: 20px;
    outline: #549991;
}