*{
    font-family: "MADE Future X", serif;
    font-size: 45px;
}
body{
    display: flex;
    background-color: #D9D9D9 !important;
}
.profilePic{
    position: relative;
    width: 290px;
    height: 290px;
    background: rgb(167, 88, 88);
    margin: auto;
    border-radius: 50%;
    margin-bottom: 50px;
    overflow: hidden;
    
    border: 10px solid #eb5759;
}
.sidB{
    background-color: #FFFBFB;
    position: sticky;
    width: 700px;
    text-align: center;
    overflow: hidden;
    align-items: center;
}
.patientInfo{
    margin: auto;
    align-self: center;
}
.infoList{
    margin: auto;
}
.name{
    font-size: 66px;
    font-weight: bold;
    margin-bottom: -10px;
}
.info{
    list-style-type: none;
    font-size: 33px;
    text-align: center;
    font-weight: bold;
    margin: 10px 0;
}

.infoTitle{
    font-weight: lighter;
    font-size: 29px;
    color: rgb(61, 61, 61);
    margin: -10px;
}




.main{
    width: 100%;
    margin: 2%;
}

.post {
    font-size: 22px;
    width: 95%;
    height: 306px;
    margin: 2%;
    padding: 1% 2%;
    position: relative;
    background-color: #FFFBFB;
    opacity: 1;
    border: 2px solid #cb5c5e;
    border-radius: 50px;
    overflow: hidden;
}
#edit{
    margin: 10px;
    background-color: #FFFBFB ;
    color: #FE686B;
    border: 3px #FE686B solid;
}
#upload{
    margin: 10px;
    background-color: #FFFBFB ;
    color: #FE686B;
    border: 3px #FE686B solid;
}
#picUp{
    width: 80%;
    align-self: center;
}
#logout{
    margin: 10px;
    background-color:#FE686B ;
    color: #FFFBFB;
    border: 3px #FE686B  solid;
}