@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap'); /*for install font radio canda*/
:root {
  
  --font-family-button:'Radio Canada, sans-serif';
  --font-family:"Radio Canada";

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  
  --color-box: #549991;
  --color-main:#258176;
  --color-emergency:#FE5755;
  --color-mainLight:#549991;
  --color-background-table:#F5F5F5;

}